
<div class="w-full h-20 bg-grey-custom">

  <div class="flex justify-between p-1">
    <%= image_tag "white-logo.png", width: 30 , class: "ml-2 mt-2"%>
    <i class="fa-solid fa-magnifying-glass mr-2 mt-3" style="color: #ffffff;"></i>
  </div>

    <div class="nav-links text-center text-white-custom bg-grey-custom h-14 p-3 text-sm border-b border-white-custom">
      <a class="px-1 md:px-2 lg:px-6 xl:p-8 2xl:p-10 hover:border-b-2 hover:border-white-custom hover:pb-6" href="#">Lessons</a>
      <a class="px-1 md:px-2 lg:px-6 xl:p-8 2xl:p-10 hover:border-b-2 hover:border-white-custom hover:pb-6" href="#">About</a>
      <a class="px-1 md:px-2 lg:px-6 xl:p-8 2xl:p-10 hover:border-b-2 hover:border-white-custom hover:pb-6" href="#">Videos</a>
      <a class="px-1 md:px-2 lg:px-6 xl:p-8 2xl:p-10 hover:border-b-2 hover:border-white-custom hover:pb-6" href="#">Reviews</a>
      <a class="px-1 md:px-2 lg:px-6 xl:p-8 2xl:p-10 hover:border-b-2 hover:border-white-custom hover:pb-6" href="#">Social Media</a>
    </div>

</div>
